@font-face {
    font-family: GidoleFont;
    src: url(src/GidoleFont/Gidole-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

.navButton {
    color: white;
    font-size: 30px;
    font-family: GidoleFont;
    font-weight: bold;
    margin-right: 1vw;
}

.navLogo {
    margin-right: 1vw;
}

.backImg {
    width: 100%;
}

.navContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    background-color: transparent;
    padding: 15px;
    position: absolute;
    top: 0;
    z-index: 1;
}